img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
	
html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}

/*************** Theme:  Slimvideo *************/
/*************** Theme Version:  1.0.7 ************/
/*
--------------------------------------------------------------------------------
	1. GENERAL COLOR
--------------------------------------------------------------------------------
*/
@media (min-width: 1170px) {
  .container, .ts-mega-menu .ts_is_mega_div{
	max-width: 1240px;
  }
}
body{
	color: #3f4549;
}
.event-list-cal-excerpt{
	color: #3f4549;
}
#event-list-cal a{
	color: #3f4549;
}
.woocommerce #content div.product form.cart .variations label,
.woocommerce div.product form.cart .variations label,
.woocommerce-page #content div.product form.cart .variations label,
.woocommerce-page div.product form.cart .variations label{
	color: #3f4549;
}
#searchform input[type="submit"]{
	color: #3f4549;
}

/*
--------------------------------------------------------------------------------
	2. LINK COLOR
--------------------------------------------------------------------------------
*/
a{
	color: #CD1C22;
}
a:hover, a:focus{
	color: #ac1b20;
}
.post-navigator ul li a:hover div{
	color: #ac1b20;
}
.post-navigator ul li a div{
	color: #CD1C22;
}
.post-navigator ul li a:hover div{
	color: #ac1b20;
}

/*
--------------------------------------------------------------------------------
	3. PRIMARY COLOR
--------------------------------------------------------------------------------
*/
.joyslider .entry-category a{
	background: #CD1C22;
	color: #FFFFFF;
}
.ts-thumbnail-view article[data-title-position="over-image"] .entry-category > li > a:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.joyslider .slide-preview:hover:before,
.joyslider .slide-preview.slide-preview-active:before,
.joyslider .slide-preview .progress{
	background-color: #CD1C22;
}
.ts-video-fancybox{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.joyslider .slide-preview .slide-index{
	color: #CD1C22;
}
.ts-video-fancybox:hover{
	color: #f5f6f7;
	background-color: #ac1b20;
}
.flex-direction-nav a{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.flex-direction-nav a:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.ts-list-view article .follow-button a{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-list-view article .follow-button a:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.woocommerce span.onsale-after,
.woocommerce-page span.onsale-after{
	border-bottom: 10px solid #ac1b20;
}
.ts-big-countdown li i {
	color: #CD1C22;
}
.ts-form-login .btn{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.product_meta{
	border-bottom-color: #CD1C22;
}
.search #main .archive-title{
	border-color: #CD1C22;
}
.single-event .event-meta > li.delimiter,
.single-event .event-meta > li.repeat{
	color: #CD1C22;
}
.event-list-cal-single{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.single-video .growpop-nav > nav a:hover div span{
	color: #CD1C22;
}
.ts-powerlink header .content .title:before, .ts-powerlink header .content .title:after{
	background: #CD1C22;
}
.mosaic-view article .ts-sep-wrap,
.ts-thumbnail-view .ts-sep-wrap{
	color: #CD1C22;
}
.flickr_badge_image:hover a img{
	border-color: #CD1C22;
}
.post-slider .post-slider-list .entry-title h4 i{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.bx-wrapper .slider-caption .title a{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.bx-wrapper .slider-caption .title a:hover{
	color: #f5f6f7;
	background-color: #ac1b20;
}
.teams article .ts-sep-wrap{
	color: #CD1C22;
}
body.slimvideo .wp-playlist-light .wp-playlist-playing,
body.slimvideo .mejs-controls .mejs-time-rail .mejs-time-current{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.post-meta ul li i{
	color: #CD1C22;
}
.entry-excerpt{
	color: #878787;
}
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
	color: #CD1C22;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li{
	background: #CD1C22;
	color: #FFFFFF;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a:after{
	border-color: #CD1C22;
}
.woocommerce #content .woocommerce-result-count{
	color: #CD1C22;
	border-color: #CD1C22;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #CD1C22;
}
.woocommerce .widget_layered_nav_filters ul li a,
.woocommerce-page .widget_layered_nav_filters ul li a{
	background-color: #CD1C22;
	border-color: #CD1C22;
}
.woocommerce #content .quantity .minus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce-page #content .quantity .minus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce .quantity .plus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page .quantity .plus:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover{
	background: #ac1b20 !important;
	color: #f5f6f7 !important;
}
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message{
	border-color: #CD1C22;
}
.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error{
	border-color: #a80023;
}
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before{
	color: #a80023;
}
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before{
	color: #CD1C22;
}
.product-view .overlay-effect .entry-overlay > a:not(.entry-view-more){
	color: #FFFFFF;
	background-color: #CD1C22            }
.product-view .overlay-effect .entry-overlay > a:not(.entry-view-more):hover{
	color: #f5f6f7 !important;
	background-color: #ac1b20 !important;
}
.block-title-lineariconcenter .block-title-container i[class^="icon"]{
	color: #CD1C22;
}
.ts-clients-view div[data-tooltip]:hover:before {
	background-color: rgba(205,28,34, 0.8);
	color: #FFFFFF;
}
.ts-clients-view div[data-tooltip]:hover:after {
	border-top-color: rgba(205,28,34, 0.8);
}
.ts-mega-menu .main-menu .ts_is_mega_div .title:after,
.ts-mobile-menu .main-menu .ts_is_mega_div .title:after{
	background-color: #CD1C22;
}
.ts-header-menu .main-menu .current-menu-item > a,
.ts-header-menu .main-menu .current-menu-parent > a,
.ts-header-menu .main-menu .current-menu-ancestor > a,
.ts-mobile-menu .main-menu .current-menu-item > a,
.ts-mobile-menu .main-menu .current-menu-parent > a,
.ts-mobile-menu .main-menu .current-menu-ancestor  > a,
.ts-sticky-menu .main-menu .current-menu-item > a,
.ts-sticky-menu .main-menu .current-menu-parent > a,
.ts-sticky-menu .main-menu .current-menu-ancestor  > a{
	color: #CD1C22 !important;
}
.ts-header-menu .menu-item-has-children .sub-menu li .ts_taxonomy_views a.view-more{
	color: #CD1C22;
}
.ts-header-menu .menu-item-has-children .sub-menu li .ts_taxonomy_views a.view-more:hover{
	color: #ac1b20;
}
.ts-big-posts .ts-sep-wrap:after{
	background-color: rgba(205,28,34, 0.5);
}
.tags-container a.tag, .tags-container a[rel="tag"]{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-thumbnail-view .thumb-post-categories a,
.ts-grid-view .grid-post-categories a,
.ts-big-posts .big-post-categories a,
.ts-super-posts .ts-super-posts-categories a{
	color: #CD1C22;
}
.ts-thumbnail-view .thumb-post-categories a:hover,
.ts-grid-view .grid-post-categories a:hover,
.ts-big-posts .big-post-categories a:hover,
.ts-super-posts .ts-super-posts-categories a:hover{
	color: #CD1C22;
}
#searchbox input[type="text"]:focus{
	border-bottom-color: #CD1C22;
}
#searchbox input.searchbutton:hover + i.icon-search{
	color: #CD1C22;
}
.search-no-results .searchpage,
.search .attention{
	color: #CD1C22;
}
.video-single-resize:hover b{
	color: #CD1C22;
}
#commentform .form-submit input[type="submit"]{
	color: #FFFFFF;
}
.widget-title:after {
	background: #CD1C22;
}
.callactionr a.continue,
.commentlist > li .comment .comment-reply-link{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.block-title-lineafter .block-title-container .the-title:after{
	background-color: #CD1C22;
}
.ts-grid-view .entry-meta a, .ts-big-posts .big-post-meta a{
	color: #CD1C22;
}
.ts-list-view .readmore{
	background-color: #CD1C22;
}
.ts-super-posts .title-holder{
	background-color: #CD1C22;
}
.ts-thumbnail-view .item-hover span, .ts-grid-view .item-hover span{
	color: #CD1C22;
}
.ts-grid-view .readmore:hover{
	color: #CD1C22;
}
.ts-filters li.active a{
	color: #CD1C22;
}
.ts-filters li.active:after{
	background-color: #CD1C22;
}
.ts-filters li a:not(.active):hover{
	color: #ac1b20;
}
.post-navigator ul li a{
	border-top-color: #CD1C22;
}
.post-navigator ul li a:hover{
	border-top-color: #262233;
}
#commentform .form-submit input[type="submit"]{
	background-color: #CD1C22;
}
.listed-two-view .item-hover, .ts-big-posts .item-hover{
	background-color: rgba(205,28,34, 0.8);
}
.block-title-linerect .block-title-container:before{
	background-color: #CD1C22;
}
.teams article:hover .image-holder img{
	border-color: #CD1C22;
}
.delimiter.iconed:before{
	color: #CD1C22;
}
.block-title-leftrect .block-title-container:before{
	background-color: #CD1C22;
}
a.tag:hover, a[rel="tag"]:hover{
	color: #CD1C22;
}
input.contact-form-submit{
	background: #CD1C22;
}
.post-slider .post-slider-list .entry-category ul li a, .post-slider .main-entry .entry-category a{
	color: #CD1C22;
}
.post-slider .main-entry .entry-content .entry-title:hover{
	border-right-color: #CD1C22;
}
.tweet-entry .icon-twitter{
	color: #CD1C22;
}
.ts-pagination ul .page-numbers.current{
	background: #CD1C22;
	color: #FFFFFF;
}
.slyscrollbar .handle{
	background: #CD1C22;
}
.ts-grid-view article .entry-footer .btn-play-video:hover > i{
	background: #CD1C22;
	color: #FFFFFF;
}
.btn:hover,
.btn:active,
.btn:focus{
	border-color: #CD1C22;
}
.btn.active{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.views-read-more{
	background: #CD1C22;
	color: #FFFFFF !important;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #CD1C22;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background: #ac1b20;
}
.ts-powerlink header .content .title{
	color: #FFFFFF;
}
.nav-tabs .tab-item.active > a:before,
.nav-tabs .tab-item.active > a:hover:before,
.nav-tabs .tab-item.active > a:focus:before{
	border-color: #CD1C22;
}
.ts-tags-container > a:after,
.ts-tags-container a.tag:hover,
article .default-effect .overlay-effect .view-more > span:before,
article .default-effect .overlay-effect .view-more > span:after{
	background: #CD1C22;
}
.ts-thumbnail-view article h3.title:after{
	background: #CD1C22;
}
#ts-timeline .timeline-entry:before,
.ts-grid-view article .entry-footer .btn-grid-more:hover > i{
	background-color: #CD1C22;
}
.ts-video-carousel .nav-arrow .nav-icon{
	color: #CD1C22;
}
.mosaic-view article .ts-sep-wrap:after,
.ts-thumbnail-view .ts-sep-wrap:before,
.ts-thumbnail-view .ts-sep-wrap:after{
	background: #CD1C22;
}
.post-content .event-meta-details li i{
	color: #CD1C22;
}
.post-author-box + .delimiter i{
	color: #CD1C22;
}
.social-icons ul li a{
	border-color: #CD1C22;
	color: #CD1C22;
}
.ts-get-calendar.ts-next:hover, .ts-get-calendar.ts-prev:hover{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-event-title a{
	background: #CD1C22;
	color: #FFFFFF;
}
.ts-small-countdown .time-remaining li > span{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.main-menu > .current-menu-ancestor:after,
.main-menu > .current_page_item:after{
	border-color: #CD1C22;
}
.ts-grid-view article a,
.ts-thumbnail-view article a,
.ts-big-posts article a,
.ts-list-view article a,
.ts-super-posts article a,
.product-view article a,
.ts-timeline a,
.ts-article-accordion .inner-content a{
	color: #CD1C22;
}
.ts-grid-view article a:hover,
.ts-thumbnail-view article a:hover,
.ts-big-posts article a:hover,
.ts-list-view article a:hover,
.ts-super-posts article a:hover,
.product-view article a:hover,
.ts-timeline a:hover,
.ts-article-accordion .inner-content a:hover {
	color: #ac1b20;
}
.ts-grid-view .entry-category:after{
	border-color: #CD1C22;
}
.ts-thumbnail-view article[data-title-position="over-image"] .entry-category > li{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.product-view article .grid-shop-button .button.add_to_cart_button:hover{
	color: #CD1C22;
}
.mosaic-view .entry-meta .entry-meta-date .meta-month{
	color: #CD1C22;
}
.ts-timeline header .entry-article-header .entry-meta-date:before{
	background-color: #CD1C22;
}
.ts-timeline-view[data-alignment="left"]:before{
	background-color: #CD1C22;
}
.ts-lima-effect .lima-details .more-details{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-powerlink header .content .button{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-iconbox-bordered figure figcaption .btn,
.ts-iconbox-background figure figcaption .btn{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-iconbox-bordered figure figcaption .btn:hover,
.ts-iconbox-background figure figcaption .btn:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.ts-article-accordion .panel-heading .entry-icon{
	color: #CD1C22;
}
.teams article .image-holder .team-box-square:before,
.teams article .image-holder .team-box-square:after,
.teams article .image-holder .team-box-square2:before,
.teams article .image-holder .team-box-square2:after{
	background-color: #CD1C22;
}
.teams article h4 a:hover{
	color: #CD1C22;
}
.single .post-rating .rating-items li .rating-title:before{
	background-color: #CD1C22;
}
.ts-pricing-view article > header .entry-title{
	border-bottom: 2px solid #CD1C22;
}
.ts-pricing-view article > section{
	border-top: 2px solid #CD1C22;
}
.single_style2 .post-categories li a,
.single_style3 .post-categories li a,
.single_style5 .post-categories li a,
.single_style6 .post-categories li a{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-pagination-more{
	border-color: #CD1C22;
}
.ts-pagination-more:before, .ts-pagination-more:after, .ts-pagination-more span:before, .ts-pagination-more span:after{
	background: #CD1C22;
}
.ts-featured-area .nav-tabs > li.active > a:after{
	background-color: #CD1C22;
}
.testimonials .entry-section .inner-section .author-text{
	color: #CD1C22;
}
.testimonials .entry-section .inner-section .author-name a:hover{
	color: #ac1b20;
}
#buddypress .standard-form div.submit input{
	background: #CD1C22;
	color: #FFFFFF;
}
#buddypress .standard-form div.submit input:hover{
	background: #ac1b20;
	color: #f5f6f7;
}
#buddypress div#item-header h2{
	color: #CD1C22;
}
.nav-fillslide h3 {
	color: #CD1C22;
}
#searchbox .hidden-form-search i.icon-search:hover{
	color: #ac1b20;
}
#searchbox .hidden-form-search .search-close{
	color: #CD1C22;
}
#searchbox .hidden-form-search .search-close:hover{
	color: #ac1b20;
}
.ts-select-by-category li.active a{
	border-top: 2px solid #CD1C22;
	color: #CD1C22;
}
#mc4wp_email:active,
#mc4wp_email:focus{
	border-color: #CD1C22;
}
.mc4wp-form input[type="submit"]{
	color: #FFFFFF;
	background-color: #CD1C22;
}
.mc4wp-form input[type="submit"]:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}
.post-tags .tags-container a[rel="tag"]{
	color: #CD1C22;
}
.post-tags .tags-container a[rel="tag"]:hover{
	color: #ac1b20;
}
.single-video .post-video-content .post-content-top .post-meta .is-featured i{
	color: #FFFFFF;
	background-color: #CD1C22;
}
.carousel-wrapper ul.carousel-nav > li.carousel-nav-right,
.carousel-wrapper ul.carousel-nav > li.carousel-nav-left,
.carousel-wrapper ul.carousel-nav > li .hidden_btn{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-pagination-more span{
	background-color: #CD1C22;
	color: #FFFFFF;
}
.ts-pagination-more span:hover{
	background-color: #ac1b20;
	color: #f5f6f7;
}

.ts-big-countdown{
	box-shadow: 0 0 0 1px #CD1C22 inset, 0 0 0 7px #ffffff inset, 0 0 0 8px #CD1C22 inset;
}

/*
--------------------------------------------------------------------------------
	4. SECONDARY COLOR
--------------------------------------------------------------------------------
*/
.post-edit-link{
	color: #262233;
}
.ts-list-users article .follow-button > a,
.ts-list-users article .ts-follow > a{
	background: #262233;
	color: #FFFFFF;
}
.ts-list-users article .follow-button > a:hover,
.ts-list-users article .ts-follow > a:hover{
	background: #41395d;
	color: #eef4f7;
}
.post-edit-link:hover{
	color: #41395d;
	border-color: #41395d;
}
.ts-big-countdown .time-remaining > li > div{
	color: #262233;
}
.single-event .event-time{
	color: #262233;
}
.event-list-cal th {
	background-color: #262233;
	color: #FFFFFF;
	border-color: #41395d;
	text-shadow: 1px 1px 0 #41395d;
}
.event-list-cal td.today .event-list-cal-day{
	background-color: #262233;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #41395d;
}
.widget_list_events .widget-meta .date-event .day{
	color: #262233;
}
.ts-thumbnail-view article:hover .ts-sep-wrap{
	color: #262233;
}
.bx-wrapper .slider-caption .sub{
	background-color: #262233;
	color: #FFFFFF;
}
.ts-bxslider .controls-direction span a{
	background-color: #262233;
	color: #FFFFFF;
}
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color: #262233;
}
.teams article .article-title{
	color: #262233;
}
.ts-team-single .member-content .member-name .category > li{
	background-color: #262233;
	color: #FFFFFF;
}
.single-portfolio .page-title{
	color: #262233;
}
.woocommerce #content .quantity .minus,
.woocommerce .quantity .minus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .plus{
	background-color: #262233;
	color: #FFFFFF;
}
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button{
	background: transparent;
	color: #262233;
}
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover{
	background: transparent;
	color: #41395d;
}
.woocommerce .product-view a.button:after,
.woocommerce .product-view button.button:after,
.woocommerce .product-view input.button:after{
	background-color: #262233            }
.woocommerce .product-view a.button:hover:after,
.woocommerce .product-view button.button:hover:after,
.woocommerce .product-view input.button:hover:after{
	background-color: #41395d            }
.product-view .overlay-effect .entry-overlay > a{
	color: #FFFFFF;
	background-color: #262233;
}
.product-view .overlay-effect .entry-overlay > a:hover{
	color: #eef4f7;
	background-color: #41395d;
}
.tags-container a.tag:hover, .tags-container a[rel="tag"]:hover{
	background-color: #262233;
	color: #eef4f7;
}
.callactionr a.continue:hover{
	background-color: #262233;
	color: #FFFFFF;
}
.ts-grid-view .item-hover{
	background-color: rgba(38,34,51, 0.8);
}
.teams article:hover .article-title{
	border-color: #262233;
}
.ts-pagination ul li{
	background-color: #262233;
	color: #FFFFFF;
}
.ts-pagination ul .page-numbers:not(.current):hover{
	background: #41395d;
	color: #eef4f7;
}
.ts-pricing-view article > footer a.btn{
	border-color: #262233;
	color: #262233;
}
.touchsize-likes .touchsize-likes-count:before,
.post-meta .post-meta-likes span.touchsize-likes-count:before{
	color: #ca1913;
}
.touchsize-likes.active .touchsize-likes-count:before,
.post-meta .post-meta-likes .touchsize-likes.active span.touchsize-likes-count:before{
	color: #b80000;
}
.purchase-btn{
	color: #262233;
}
.purchase-btn:hover{
	background: #262233;
}
.ts-powerlink header .content .button:hover{
	background-color: #41395d;
	color: #eef4f7;
}
.ts-timeline .timeline-view-more i, .ts-pagination-more:hover > i{
	color: #262233;
}
.ts-small-countdown .time-remaining li > i{
	color: #262233;
}
.ts-events-calendar tr td.calendar-day-head{
	background: #262233;
	color: #FFFFFF;
}

/*
--------------------------------------------------------------------------------
	5. META COLOR
--------------------------------------------------------------------------------
*/
.product-view article .entry-categories a{
	color: #b6b6b6;
}
.archive-title span,
.archive-desc p,
footer .related .related-list .related-content .ts-view-entry-meta-date,
.ts-timeline-view .entry-meta .post-date-add,
.ts-grid-view article .ts-view-entry-meta-date,
.ts-bigpost-view article .ts-view-entry-meta-date,
.ts-list-view article .ts-view-entry-meta-date{
	color: #b6b6b6;
}
.ts-big-countdown .time-remaining > li > span{
	color: #b6b6b6;
}
.ts-timeline header .entry-article-header .entry-meta-date .meta-month,
.ts-timeline header .entry-article-header .entry-meta-date .meta-year{
	color: #b6b6b6;
}
.ts-featured-area-big .entry-date{
	color: #b6b6b6;
}
.ts-list-view article .entry-meta-followers{
	color: #b6b6b6;
}
.ts-user-profile-dw .user-info .user-role{
	color: #b6b6b6;
}
.widget.buddypress span.activity{
	color: #b6b6b6;
}
.single-event .event-meta > li span.meta{
	color: #b6b6b6;
	font-size: 13px;
}
.widget_list_events .widget-meta .date-event .month{
	color: #b6b6b6;
}
.post-title-meta,
.post-details-title,
.post-title-meta .post-categories a,
.post-title-meta .touchsize-likes,
.post-title-meta .post-title-meta-categories > i,
.post-tagged-icon > i{
	color: #b6b6b6;
}
.teams article .article-position, .ts-big-posts .entry-meta ul li{
	color: #b6b6b6;
}
.ts-team-single .member-content .position{
	color: #b6b6b6;
}
.testimonials .inner-header .header-icon,
.testimonials .entry-section .inner-section .author-position{
	color: #b6b6b6;
}
.post-title-meta, .ts-big-posts .big-post-meta > ul > li, .ts-grid-view .entry-meta > li, .views-delimiter{
	color: #b6b6b6;
}
.single .page-subtitle{
	color: #b6b6b6;
}
.search-results .searchcount{
	color: #b6b6b6;
}
article.type-post .page-title .touchsize-likes .touchsize-likes-count{
	color: #b6b6b6;
}
.ts-cool-share label > span{
	color: #b6b6b6;
}
.time-remaining li span{
	color: #b6b6b6;
}
.ts-grid-view article .entry-category,
.ts-big-posts article .entry-category,
.ts-thumbnail-view article[data-title-position="below-image"] .entry-category,
.ts-thumbnail-view article[data-title-position="below-image"] .entry-date{
	color: #b6b6b6;
}
.ts-thumbnail-view article[data-title-position="over-image"]:hover .meta-dates .entry-date{
	color: #b6b6b6;
	text-shadow: none;
}
.ts-thumbnail-view article[data-title-position="over-image"]:hover .meta-dates .entry-date span:before,
.ts-thumbnail-view article[data-title-position="over-image"]:hover .meta-dates .entry-date span:after{
	background-color: #b6b6b6;
}
.ts-timeline section .entry-author,
.ts-list-view .entry-meta-date{
	color: #b6b6b6;
}
.ts-featured-area .featured-area-content .entry-content .entry-meta,
.ts-featured-area.posts-right-of-main-image .featured-area-content .entry-content .entry-meta-likes,
.ts-featured-area .featured-area-tabs .entry-meta-date,
.ts_taxonomy_views .ts-date,
.ts-small-news figure figcaption .entry-date,
.entry-category > li{
	color: #b6b6b6;
}
.ts-article-accordion .entry-meta-date{
	color: #b6b6b6;
}
.teams article .article-excerpt{
	color: #b6b6b6;
}
.single .entry-meta .post-meta{
	color: #b6b6b6;
}
.nav-fillslide div span {
	color: #b6b6b6;
	border-color: #b6b6b6;
}
.nav-fillslide p{
	color: #b6b6b6;
}
.widget_most_viewed .count-item,
.widget_most_liked .count-item{
	color: #b6b6b6;
}
.ts-video-carousel .slides .carousel-meta li{
	color: #b6b6b6;
}
header .entry-article-header .entry-likes > a,
header .entry-article-header .entry-likes .touchsize-likes-count:before,
header .entry-article-header .entry-author .post-author-info > li,
section .entry-section .entry-section-footer .entry-likes > a,
section .entry-section .entry-section-footer .entry-likes .touchsize-likes-count:before,
section .entry-section .entry-section-footer .entry-author .post-author-info > li{
	color: #b6b6b6;
}
.ts-timeline header .entry-article-header .post-author-info > li,
.ts-featured-article section .entry-section-footer .entry-meta,
.ts-featured-article section .is-featured-article,
.entry-meta > li{
	color: #b6b6b6;
}
.single-video .post-meta > li,
.single-video .post-meta > li > a,
.single-video .post-video-content .post-content-top .post-meta-date{
	color: #b6b6b6            }

/*
--------------------------------------------------------------------------------
	6. VIEWS COLOR
--------------------------------------------------------------------------------
*/
.ts-grid-view article .entry-title a,
.ts-thumbnail-view article .entry-title a,
.ts-big-posts article .title a,
.ts-list-view article .entry-title a,
.product-view article .entry-title a,
.ts-timeline .entry-title a{
	color: #434A54;
}
.post-tags .tags-container a[rel="tag"]:hover{
	background-color: transparent;
}
.ts-grid-view article .entry-title a:hover,
.ts-big-posts article .entry-title .title a:hover,
.ts-list-view article .entry-title a:hover,
.product-view article .entry-title a:hover,
.ts-timeline .entry-title a:hover{
	color: #656D78;
}

/*
--------------------------------------------------------------------------------
	7. MENU COLOR
--------------------------------------------------------------------------------
*/
.ts-header-menu .main-menu li a:hover,
.ts-sticky-menu .main-menu li a:hover,
.ts-mobile-menu .main-menu li a:hover {
	color: #7a7a7a;
}
.ts-header-menu .main-menu > .menu-item-has-children ul li > a:hover:before,
.ts-sticky-menu .main-menu > .menu-item-has-children ul li > a:hover:before,
.ts-mega-menu .menu-item-has-children .ts_is_mega_div .ts_is_mega > li > a:hover:before,
.ts-mobile-menu .main-menu > .menu-item-has-children ul li > a:hover,
.ts-mobile-menu .menu-item-type-taxonomy.menu-item-has-children .ts_is_mega_div > .sub-menu li a:hover:before{
	background-color: #f1f1f1;
}
.ts-header-menu .main-menu li > a,
.ts-sticky-menu .main-menu li > a,
.ts-mobile-menu .main-menu li > a,
.ts-mobile-menu .menu-item-type-taxonomy.menu-item-has-children .ts_is_mega_div > .sub-menu li a {
	color: #53506d;
}
.ts-header-menu .sub-menu:not(.ts_is_mega),
.ts-sticky-menu .sub-menu:not(.ts_is_mega),
.ts-mega-menu .menu-item-type-taxonomy .sub-menu,
.ts-mobile-menu .sub-menu,
.ts-mega-menu .is_mega .ts_is_mega_div:after {
	background-color: #fdfdfd;
}
.ts-mega-menu .main-menu .ts_is_mega_div .title{
	color: #53506d;
}
.sub-menu li a:hover{
	color: #7a7a7a;
}
						h1{font-size: 54px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}h2{font-size: 44px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}h3{font-size: 36px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}h4{font-size: 28px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}h5{font-size: 18px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}h6{font-size: 14px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}.ts-behold-menu, .main-menu li{font-size: 13px;font-family: 'Varela Round';font-weight: 400;font-style: normal;}body{font-size: 14px;font-family: 'Open Sans';font-weight: 400;font-style: normal;}.logo{font-family: 'Open Sans';font-style: normal;}            
.ts-sticky-menu{
	background-color: #FFFFFF;
}
.ts-sticky-menu .sf-menu li ul{
	background-color: #FFFFFF;
}
.ts-sticky-menu .container .sf-menu li a, .ts-sticky-menu .container .sf-menu li, .ts-sticky-menu .sf-menu{
	color:#444444;}
.ts-sticky-menu .container .sf-menu li.current-menu-item > a{
	color: #CD1C22;
}
/* --- Custom CSS Below ----  */

.rem-modal{
	position: fixed;
	background-color: #fff;
	padding: 45px 25px 25px;
	width: 500px;
	bottom: 20px;
	left: -120%;
	z-index: 5555;
	-webkit-transition: left .8s ease-out;
	-moz-transition: left .8s ease-out;
	-o-transition: left .8s ease-out;
	-ms-transition: left .8s ease-out;
	transition: left .8s ease-out;
	box-shadow: 0 0 15px rgba(60,60,60,0.3);
	max-width: 95%;
	max-width: calc(100% - 40px);
}
.rem-modal.shown{
	left: 20px;
}
.rem-modal a:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.rem-modal a{
	background-color: #D92223;
	color: #FFF;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	letter-spacing: 0.2em;
	padding: 0 20px;
}
.rem-modal a:hover{
	background-color: #000;
}
.rem-modal .closer{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 9999;
	padding: 3px;
}
.rem-modal .closer:hover{
	background: #000;
	color: #FFF;
}
.rem-modal img{
	width: 120px;
	height: auto;
	float: left;
	margin-right: 30px;
}
.rem-modal h4{
	margin: 0 0 10px;
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
}
.rem-modal em{
	font-size: 10px;
	text-transform: uppercase;
	color: #a3a3a3;
	position: absolute;
	top: 15px;
	left: 25px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
	.rem-modal img{
		width: 60px;
		margin-bottom: 20px;
	}
}